.app {
  background:  lightblue;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-container {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction:  column;
  justify-content: space-around;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 10px;
}


.btn-primary:disabled{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  opacity: .65;
}

.input {
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.redColor {
  color : red
}
